# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Database
DATABASE_URL=

# Redis
UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=

# External APIs
EXERCISEDB_API_KEY=
OPEN_FOOD_FACTS_APP_ID=

# App
NODE_ENV=development
PORT=3333
JWT_SECRET=

# Mobile
EXPO_PUBLIC_API_URL=http://localhost:3333
